<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
    <main class="fotosDetail">
      <h1>aasdasdasdasdasdasdasd</h1>
      <h1><%= titulo %></h1>
     <h2><%= subtitulo %></h2>
     <p><%= contenido %></p>
       <section class="allImg">
        <% if (!fotos[2]) { %>
          <img class="fechaFotoUnica" src="/images/<%= fotos[0] %>" alt="...">
        <% }else {  %>
             <% fotos.forEach(element => { %>
              
    
                  <img src="/images/<%= element %>" alt="...">
                <% }) %>
            <% } %>
        
       </section>
     
 
 </main>
 

    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %>
  </body>
</html>
