<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
    <main class="todasLasFotos">
        <h1>
          Todas las fechas
        </h1>
        <section>
          <% fechasData.forEach(item => { %>
            <a class="card" href="detailFechas/<%= item.id %>">
              <img src="images/<%= item.fotos[0] %>" alt="">
              <h2><%= item.titulo %></h2>
              <p><%= item.contenido %></p>
            </a>
          
           
          <% }) %>
        </section>
    </main>

    <%- include('./partials/footer') %>   
    <%- include('./partials/scripts') %>
  </body>
</html>
