  
<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
    <main class="home desplazamientoAltura" >
      <section class="contenido">
        <article class="presentacion">
          <p id="typer"></p>
        </article>
        <article class="proximasFechas" id="fechasNuevasContainer"  >
          <h2>Proximas Fechas</h2>
          <section>
            <% fechasData.forEach((item,i )=> { %>
                <div> 
                  <img src="../images/<%= item.fotos[0]%> " alt="" />
                </div>
           
             <div class="accesoFechas">
              <a class="botonInfo" href="detailFechas/<%= item.id %>">Más Info</a>
              
              <a class="botonComprar" href="<%= item.link %>">Comprar</a>
             </div>   
              <% if (i === 0) { return; } %> <!-- Limitar la iteración a 5 elementos -->
              <% }) %>
          </section>
        </article>
        <article  class="proximasFechas ultimasFotos">
           <h2 class="tituloUltimasFotos">Ultimas fotos</h2>
          <section class="ultimasFotos">
          
            <% fotosData.forEach((element, i) => { %>
              <% if (i === 4) { return; } %> <!-- Limitar la iteración a 5 elementos -->
              <a class="card" href="detailFoto/<%= element.id %>">
                <img src="./images/<%= element.fotos[0] %>" alt="">
                <h2><%= element.titulo %></h2>
                <p><%= element.contenido %></p>
              </a>
            <% }) %>
           
            
        </article>
      </section>
    </main>
     <!-- Swiper JS -->
    <%- include('./partials/footer') %> 
  
  </body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
    <%- include('./partials/scripts') %>
</html>